# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - uudistus-dt

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://uudistuscr.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_4c1d2cabe4e749aa9f44f1233302f38f }}
        password: ${{ secrets.AzureAppService_ContainerPassword_c2e4370c7a7543eab81bf1a5797e5f89 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: uudistuscr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4c1d2cabe4e749aa9f44f1233302f38f }}/dt-frontend-uudistus:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'uudistus-dt'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_45361a6fe5644cecbf686cba95d083d1 }}
        images: 'uudistuscr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4c1d2cabe4e749aa9f44f1233302f38f }}/dt-frontend-uudistus:${{ github.sha }}'